.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  justify-content: center;
  align-content: center;
}

/* .aboutTop {
  width: 100%;
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
} */

.aboutBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: fit-content;
  color: rgb(255, 255, 255);
  font-size: x-large;
  background-color: rgba(0, 0, 0, 0.527);
  padding-bottom: 100px;
  margin-inline: 20px;  
}

.aboutBottom p {
  width: fit-content;
  color: rgb(255, 255, 255);
  font-size: x-large;
}

.about .aboutBottom h1 {
  padding-top: 100px;
  font-weight: 400;
  font-size: 70px;
  color: rgb(255, 255, 255);
  height: 30px;
  transform: translateY(-40px);
}

@media only screen and (max-width: 600px) {
  .about {
    display: block;
  }
}

@media only screen and (max-width: 200px) {
  .about .aboutBottom h1 p{
    display: block;
  }
}